<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Public Api's For Devs</title>
		<%- include("./meta") %>
	<link rel="stylesheet" href="https://w3css.blueobsidian.repl.co/w3css/w3.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200;1,400&display=swap"
		rel="stylesheet">
	<style type="text/css">
		body{
			background-color: whitesmoke;
			font-family: 'Montserrat', sans-serif;
		}
		.header{
			background-color: rgb(101, 28, 170);
		}

  </style>
</head>
<body>
	<div class="w3-container header w3-black">
		<nav>
			<h1>Public Api List</h1>
		</nav>
	</div>
	<br>
	<br>
	<div class="w3-container">
	<h3>
		An Api List To Help Developers Generate Fake Information Any Time
	</h3>
	</div>
  <div class="w3-container">
	<table class="w3-table w3-striped">
		<tr>
			<th>Name</th>
			<th>Description</th>
		</tr>
		<tr>
			<td><a href="/user">Fake User Api</a></td>
			<td>Generate Fake User data: Created in JavaScript</td>

		</tr>
	</table>
  </div>

</body>
</html>