<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Public Api's For Devs</title>
	<link rel="stylesheet" href="https://w3css.blueobsidian.repl.co/w3css/w3.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200;1,400&display=swap"
		rel="stylesheet">
	<style type="text/css">
		body{
			background-color: whitesmoke;
			font-family: 'Montserrat', sans-serif;
		}
		.header{
			background-color: rgb(101, 28, 170);
		}

  </style>
</head>
<body>
	<div class="w3-container header">
		<nav>
			<h1>Public Api List</h1>
		</nav>
	</div>
	<div class="w3-container">
	<h3>
		An Api List To Help Developers Generate Fake Information
	</h3>
	</div>
</div>
</body>
</html>