<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Api Request</title>
	<link rel="stylesheet" type="text/css" href="/css/style.css">
	<style type="text/css">
		
			
    body{
        background-color: yellow;
    }
    .api-list{
    	background-color: blue;
    	width: 290px;
    	height: 500px;
    	border-style: groove;
    	border-radius: 14px;
      background-position: center;

    } 
     .api-list .api{
     	text-decoration: none;
     } 

  </style>
</head>
<body>
	<h1>For Private Use Only</h1>
<p> I Made This Free Api For Request From People Who Are Testing New Projects Or Apllication On Node </p>
  <div class="api-list">
	<table>
		<div class="api"><a class="api" href="https://andrew.blueobsidian.repl.co/nodejs">Node.js</a></div>
		
	</table>
</div>
</body>
</html>