<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Node Api</title>
	<%- include("./meta") %>
	<link rel="stylesheet" href="https://w3css.blueobsidian.repl.co/w3css/w3.css">
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;1,200;1,400&display=swap"
		rel="stylesheet">

	<style type="text/css">
	body{
			background-color: whitesmoke;
			font-family: 'Montserrat', sans-serif;
			border-radius: 5%;
		}
      a{
	font-size: 40px;
	  }
	</style>
</head>
<body>
<div class="w3-container w3-black">
	<h1>Fake User Generator</h1>
	
</div>
<br>
<br>
<div class="w3-container w3-card w3-shadow">
	<h4>
		Generate's A Random Id, Username, email, password Fot You To Use In Your Next Project  <br>
		
	</h4>
</div>
<br>
<div class="w3-panel w3-card w3-light-grey">
	<h4>Example Request:</h4>

	<div class="w3-code jsHigh notranslate">
		const users = await fetch("https://fake-data-generator.blueobsidian.repl.co/fake/users?number=");<br>
		const res = users.json() ; <br>
	</div>
	<h4>Response</h4>

	<div class="w3-code jsHigh notranslate">
	{
			name: name,<br>
			password: password, <br>
			email: email <br>
		}
	</div>

</div>

 

		<script src="https://www.w3schools.com/lib/w3codecolor.js"></script>

</body>
</html>