<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Node Api</title>
	<style type="text/css">
	
	body{
		background-color: yellow;
	}
    .code{
    	padding: 30px;
    	background-color: grey;
    	width: 700px;
    	height: 80px;

    }
     .url{
     	list-style: none;
     }
      
    .video{
    	
    	width: 500px;
    	height: 450px;
      border-radius: 14px;
      
    } 
  p{
    text-aling:left;
    
    }
	</style>
</head>
<body>
<h1>Node.js Api</h1>
<p>You Will Be Using This Url's To Access The Api Credentials</p>
<div >
	<p>Note: This Is Only For Rest client if your not using it for rest testing  then you have to first create a user that you can access </p>
	<ul>
		<p>The Url Is :<li class="url" >https://andrew.blueobsidian.repl.co/users</li></p>
		<p> You Will Be Accessing This Api To Show The Amount Of Users</p>
		<pre class="code">
			Get https://andrew.blueobsidian.repl.co/users

		</pre>
		<p>Or If Your Submitting A New User Use This Code(Creating A New User)</p>
		<pre class="code">
			POST https://andrew.blueobsidian.repl.co/users
			Content-type: application/json
			   {
				 "name":"your name",
				 "password":"your password"

			   }
		</pre>

	</ul>

</div>
<div><ul>
	<p>To Call The User Data With The Credentials You've Just Made      .You Use </p>
    <pre class="code">
    POST https://andrew.blueobsidian.repl.co/users/login
	     Content-type: application/json
			   {
				 "name":"the name you used",
				 "password":"the password you used"
 
			   }
      
    <strong>Make Sure You Leave Some Space Between Url And The Content</strong>
    </ul>
    </pre>





</body>
</html>